		<div class="row">
			<form class="col s12">
		   <label>Event Type</label>
			<select class="browser-default">
				<option value="" disabled selected>Choose your option</option>
				<option value="1">Seminar</option>
				<option value="2">Convention</option>
			</select>
			</form>
		</div>

		<div class="row">
		<form class="col s12">
		  <div class="row">
			<div class="input-field col s12">
			  <input id="event_id" type="text" class="validate keyboard">
			  <label for="event_id">Event Id</label>
			</div>
		  </div>

		  <div class="row">
			<div class="input-field col s12">
			  <input id="event_code" type="text" class="validate keyboard">
			  <label for="Event_code">Event Code</label>
			</div>
		  </div>
      <a class="waves-effect waves-light btn" id="events_submit"><i class="material-icons right">cloud</i>button</a>
		</form>
	  </div>
<!--jQuery for event listeners that are bonded to this html page-->
	<script type="text/javascript">
		/*This starts the sid-nav*/
		$(".button-collapse").sideNav();
		$(".keyboard").keyboard();
    document.getElementById("events_submit").addEventListener("proper_event", confirm_event, false);
    function confirm_event(e) {
      $('main').html(ejs.render(fs.readFileSync( __dirname + '/views/beginSession/beginSession.html', 'utf-8') , {}));
      console.log(__dirname);
    }
	</script>
