[submodule "dixonconnect"]
	path = dixonconnect
	url = https://github.com/ev-devs/dixonconnect.git 
[submodule "jboard"]
	path = jboard
	url = https://github.com/ev-devs/jboard.git
[submodule "kprint"]
	path = kprint
	url = https://github.com/ev-devs/kprint.git
