<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!--This makes device rendering scale--->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!--We are includeing jquery for our everyday javascript needs-->
    <script type="text/javascript">
        window.hammer = require('../../../bower_components/hammerjs/hammer.js')
        window.$ = window.jQuery = require('../../../bower_components/jquery/dist/jquery.js');
        process.env = require('shell-env').sync()
        console.log(require('shell-env').sync())
    </script>

    <!---This is for our icons that are hosted locally-->
    <link rel='stylesheet' href='../../../bower_components/typicons.font/src/font/typicons.min.css' />
    <!-- we are including our material design CSS for our everday GUI needs-->
    <link rel="stylesheet" href="../../../bower_components/Materialize/bin/materialize.css" media="screen" charset="utf-8">
    <!--We are inlcuding our material design js for our everyday GUI needs-->
    <script src="../../../bower_components/Materialize/bin/materialize.js" charset="utf-8"></script>

    <link rel="stylesheet" href="../../../bower_components/animate.css/animate.css" media="screen"  charset="utf-8">
    <script src="../../../jboard/bin/jboard.js" charset="utf-8"></script>
    <link rel="stylesheet" href="../../../jboard/bin/jboard.css"charset="utf-8">

    <title>Choose Internet Connection</title>
  </head>
  <body>

      <!--Navigation Here with custom colors-->
      <nav style="background-color: #125CA0;">
          <div class="container">
              <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Equipo Vision</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Choose An Internet Connection</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">

                </ul>
              </div>
          </div>
      </nav

      <!-- Body Here (this is for the wifi choosing)--->
      <main >
          <div class="firstLoaderContainer container center animated fadeIn">
              <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
          </div>
      </main>

      <!--Footer Here--->
      <footer></footer>

      <!--THIS IS FOR OUR LOADING LOOKS--->
      <div class="container center animated slideInUp" id="test_connection" style="display: none">
          <h3>Testing Connection</h3>
          <div class="progress">
            <div class="indeterminate"></div>
        </div>
      </div>

      <div class="container center animated slideInUp" id="load_platinums" style="display : none">

          <h3>Pulling Platinums From Server</h3>

          <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
            </div>
      </div>


      <div class="container center animated slideInUp" id="load_inventory" style="display : none">

          <h3>Pulling Inventory From Server</h3>

          <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div><div class="gap-patch">
                    <div class="circle"></div>
                  </div><div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
            </div>
      </div>


      <div class="container center" id="retry" style="display : none">
          <span class="typcn typcn-warning" id="error-icon"></span>
          <p>
              There was an error pulling from the database
          </p>
          <div>
            <a class="waves-effect waves-light btn" id="retry button"> Try again? </a>
          </div>
      </div>


      <!-- Modal Structure -->
      <div id="standard-modal-template" class="modal bottom-sheet">
        <div class="modal-content">
            <div class="container center standard-jboard-container" id="standard-jboard-container">
                <div class="row standard-row" id="standard-row-1" style="margin : 0">
                    <div class="jboard-key" id="q" style="display : inline-block">q</div>
                    <div class="jboard-key" id="w" style="display : inline-block">w</div>
                    <div class="jboard-key" id="e" style="display : inline-block">e</div>
                    <div class="jboard-key" id="r" style="display : inline-block">r</div>
                    <div class="jboard-key" id="t" style="display : inline-block">t</div>
                    <div class="jboard-key" id="y" style="display : inline-block">y</div>
                    <div class="jboard-key" id="u" style="display : inline-block">u</div>
                    <div class="jboard-key" id="i" style="display : inline-block">i</div>
                    <div class="jboard-key" id="o" style="display : inline-block">o</div>
                    <div class="jboard-key" id="y" style="display : inline-block">p</div>
                    <div class="jboard-key delete-key" id="delete" style="display : inline-block">delete</div>
                </div>

                <div class="row  standard-row" id="standard-row-2" style="margin : 0">
                    <div class="jboard-key" id="a" style="display : inline-block">a</div>
                    <div class="jboard-key" id="s" style="display : inline-block">s</div>
                    <div class="jboard-key" id="d" style="display : inline-block">d</div>
                    <div class="jboard-key" id="f" style="display : inline-block">f</div>
                    <div class="jboard-key" id="g" style="display : inline-block">g</div>
                    <div class="jboard-key" id="h" style="display : inline-block">h</div>
                    <div class="jboard-key" id="j" style="display : inline-block">j</div>
                    <div class="jboard-key" id="k" style="display : inline-block">k</div>
                    <div class="jboard-key" id="l" style="display : inline-block">l</div>
                    <div class="jboard-key enter-key" id="enter" style="display : inline-block">enter</div>
                </div>

                <div class="row standard-row" id="standard-row-3" style="margin : 0">
                    <div class="jboard-key shift-key" id="shift" style="display : inline-block">Shift</div>
                    <div class="jboard-key" id="z" style="display : inline-block">z</div>
                    <div class="jboard-key" id="x" style="display : inline-block">x</div>
                    <div class="jboard-key" id="c" style="display : inline-block">c</div>
                    <div class="jboard-key" id="v" style="display : inline-block">v</div>
                    <div class="jboard-key" id="b" style="display : inline-block">b</div>
                    <div class="jboard-key" id="n" style="display : inline-block">n</div>
                    <div class="jboard-key" id="m" style="display : inline-block">m</div>
                    <div class="jboard-key" id="," style="display : inline-block">,</div>
                    <div class="jboard-key" id="." style="display : inline-block">.</div>
                    <div class="jboard-key" id="@" style="display : inline-block">@</div>
                    <div class="jboard-key extra-key" id="extra-key" style="display: inline-block; display: none">^</div>
                </div>

                <div class="row standard-row" id="standard-row-4" style="margin : 0">
                    <div class="jboard-key" id="123" style="display : inline-block">123</div>
                    <div class="jboard-key space-key" id="space" style="display : inline-block">Space</div>
                    <!-- <div class="jboard-key" id="#$+" style="display : inline-block">#$+</div> -->
                </div>

            </div>
        </div>
      </div>
      <!--THIS IS FOR OUR CUSTOM FONTS AND ICONS THAT ARE KEPT LCOALLY--->
      <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">

      <!--This is not needed since we will be accessing our data through our models and not the server-->
      <!-- <script src="../../lib/globals.js" charset="utf-8"></script> -->

      <!--This will connect to the server, download our data and then -->
      <script src="backend.js" charset="utf-8"></script>

      <!--this does our DOM manipluation-->
      <script src="frontend.js" charset="utf-8"></script>

  </body>



  <script>

  </script>
</html>
