<br>



<% if (output) { %>

<div class="container">
    <div class="row">
        <div class="col s12 left">
             <span class="typcn typcn-wi-fi" style="font-size: 5em"></span> <h2 style="display: inline">Wireless Internet</h2 >
        </div>
    </div>
</div>

<div class="container center">
    <ul class="collection">
      <%for(var i = 0; i < output.length; i++) { %>
         <a href="#!" class="collection-item wifi_option"><%= output[i].essid%><span class="badge">1</span>
           <% if(output[i].psk == "on") { %>
             <span class="badge typcn typcn-lock-closed" style="font-size: 2em"></span>
           <%} else if (output[i].psk == "off") { %>
             <span class="typcn typcn-lock-open right" style="font-size: 2em"></span>
           <%}%>
         </a>
       <%}%>
         <!--<a href="#!" class="collection-item">Alan<span class="badge">1</span>   <span class="typcn typcn-lock-open right" style="font-size: 2em"></span> </a>-->
   </ul>
</div>
<% } %>
<div class="container">
    <div class="row">
        <div class="col s12 left">
             <span class="typcn typcn-flow-children" style="font-size: 5em"></span> <h2 style="display: inline">Ethernet</h2>
        </div>
    </div>
</div>

<div class="container center">
    <ul class="collection">
         <a href="#!" class="collection-item">Alan<span class="badge">1</span></a>
         <a href="#!" class="collection-item">Alan<span class="badge">1</span></a>
         <a href="#!" class="collection-item">Alan<span class="badge">1</span></a>
         <a href="#!" class="collection-item">Alan<span class="badge">1</span></a>
   </ul>
</div>
