<br><br><br><br>

<div class="container">
    <div class="row">
        <div class="col s12 left">
             <i class="large material-icons">insert_chart</i>
        </div>
    </div>
</div>

<div class="container center">
    <ul class="collection">
         <a href="#!" class="collection-item">Alan<span class="badge">1</span></a>
         <a href="#!" class="collection-item">Alan<span class="badge">1</span></a>
         <a href="#!" class="collection-item">Alan<span class="badge">1</span></a>
         <a href="#!" class="collection-item">Alan<span class="badge">1</span></a>
   </ul>
</div>
