
<div class="container">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Equipo Vision</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <h1><%= output%></h1>
      </ul>
      <ul class="side-nav" id="mobile-demo">

      </ul>
    </div>
</div>

<script type="text/javascript">
    /*This starts the sid-nav*/
    $(".button-collapse").sideNav();
</script>
