<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<!--This makes device rendering scale--->
			<meta name="viewport" content="width=device-width, initial-scale=1.0">

			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
			<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

			<!--We are includeing jquery for our everyday javascript needs-->
			<script type="text/javascript">
				window.hammer = require('../../../bower_components/hammerjs/hammer.js')
				window.$ = window.jQuery = require('../../../bower_components/jquery/dist/jquery.js');
			</script>

			<!---This is for our icons that are hosted locally-->
			<link rel='stylesheet' href='../../../bower_components/typicons.font/src/font/typicons.min.css' />
			<!-- we are including our material design CSS for our everday GUI needs-->
			<link rel="stylesheet" href="../../../bower_components/Materialize/bin/materialize.css" media="screen" title="no title" charset="utf-8">
			<!--We are inlcuding our material design js for our everyday GUI needs-->
			<script src="../../../bower_components/Materialize/bin/materialize.js" charset="utf-8"></script>


			<!--- THIS IS NEEDED FOR US TO GET A KEYBOARD ON THE SCREEN---->
			<!-- jQuery (required) & jQuery UI + theme (optional) -->
			<script src="../../../bower_components/jquery-ui/jquery-ui.min.js" rel="stylesheet"></script>



			<!-- keyboard widget css & script (required) -->
			<link href="../../../bower_components/keyboard/dist/css/keyboard-basic.min.css" rel="stylesheet">
			<script src="../../../bower_components/keyboard/dist/js/jquery.keyboard.js"></script>

			<!-- keyboard extensions (optional) -->
			<script src="../../../bower_components/keyboard/dist/js/jquery.keyboard.extension-all.min.js" charset="utf-8"></script>

			<title>Hello World!</title>
	</head>
	
	<body>
	
		<div class="row">
			<form class="col s12">
				<ul class="collection" id="platinums">
				  <li class="collection-item">Name</li>
				</ul>
			</form>
		</div>
	
		<!--jQuery for event listeners that are bonded to this html page-->
		<script type="text/javascript">
			/*This starts the sid-nav*/
			$(".button-collapse").sideNav();
			$(".keyboard").keyboard();
			
			document.getElementById("events_submit").addEventListener("proper_event", confirm_event, false);
			
			function confirm_event(e) {
				$('main').html(ejs.render(fs.readFileSync( __dirname + '/views/beginSession/beginSession.html', 'utf-8') , {}));
				console.log(__dirname);
			}
		</script>
		
	</body>

</html>
