<br>
<% if (output) { %>
            <div class="container">
                <div class="row">
                    <div class="col s12 left">
                        <!-- Helps show the current wifi connection. If there aren'y then it will appear as "none"-->
                         <span class="typcn typcn-wi-fi" style="font-size: 5em"></span> <h2 style="display: inline">Wi-Fi</h2 >
                    </div>
                </div>
            </div>

            <div class="container leftr" id="connection_holder">
                <div class="chip" id="cur_con">
                    Wi-Fi: <%= output[output.length - 1] %>
                    <!---THIS IS FOR TESTING ON MY MAC--->
                    <!-- <a class="waves-effect waves-light btn" id="proceed"><i class="material-icons right">done</i>Proceed</a>-->
                </div>

            </div>

            <br>


            <!-- Modal Structure for the password input. Will need to either scrap OR interface with the digital keyboard.-->
            <div id="modal1" class="modal">
              <div class="modal-content">
              <!--Text area to enter the password-->
                <h4>Enter password</h4>
                <input id="keyboard" type="text">
                <script type="text/javascript">
                  $('#keyboard').jboard('standard');
                  $('#keyboard').on( 'jpress', function(event, key){
                      console.log(key)
                  })
                </script>
              </div>

              <!--Used to solidify the connection. When the "accept" button is pressed then the wifi and essid are sent to the script in the index.js file-->
              <div class="modal-footer">
                <a href="#!" class=" modal-action modal-close waves-effect btn-flat" id="accept">Accept</a>
              </div>
            </div>

            <div class="container center">
                <ul class="collection wifi_holder">
                  <!--Traverse the length of the array that holds the wifi info-->
                  <%for(var i = 0; i < output.length - 1; i++) { %>
                      <!--If there is a wifi password on then render this html-->
                       <% if(output[i].psk == "on") { %>
                         <a href="#modal1" class="collection-item wifi_option modal-trigger" id="<%= output[i].essid%>"><%= output[i].essid%>
                         <span class="badge typcn typcn-lock-closed" style="font-size: 2em"></span>
                      <!--If not then render this -->
                       <%} else if (output[i].psk == "off") { %>
                         <a href="#!" class="collection-item wifi_option" id="<%= output[i].essid%>"><%= output[i].essid%>
                         <span class="typcn typcn-lock-open right" style="font-size: 2em"></span>
                       <%}%>
                     </a>
                   <%}%>
               </ul>
            </div>
            <% } else {%>

    <div class="container">
        <h1>We curently cannot detect any internet connections</h1>
        <br>
        <a class="waves-effect waves-light btn">Continue with cash only/a>
    </div>
<% } %>

<!--jQuery for event listeners that are bonded to this html page-->
<script type="text/javascript">
/*Creates the custom event from the transition between the internet connection for view transition*/
/*Grabs the string that displays the current connection which is generated from the script*/
var status = document.getElementById("cur_con").innerText.toString();
/*Creates the custom event and passes in the status of the internet*/
var connected = new CustomEvent('connected', { 'detail': status  });

/*Tells the html element with id "cur_con" to listen for the event named connected. If the connected event is registered
(from my understanding when "connected" is dispatched by the dispatch event function below). then carry out the anonymous callback function.
You can think of this as the section of code which defines what our event DOES after it is created and called.*/
document.getElementById("cur_con").addEventListener('connected', function(e) {
    var proceed = "<a class=\"waves-effect waves-light btn\" id=\"proceed\"><i class=\"material-icons right\">done</i>Proceed</a>";
    var remove = "<a class=\"waves-effect waves-light btn red\" id=\"remove\"><i class=\"material-icons right\">delete</i>Remove connection</a>";
    $("#connection_holder").append(remove);
    $("#connection_holder").append(proceed);
}, false);
/*Here is where one of our events is dispatched*/
if(status != "Wi-Fi: none")
document.getElementById("cur_con").dispatchEvent(connected);
</script>
