/************************* GENERAL */
nav {
    height: 8vh;
}

html {
    overflow-y: hidden;
    margin:0;
    padding:0;
}

#pos-container {
    height: 92vh;
    /* background-color: red; */
}
#left-side {
    /* background-color: green; */
    height: 100%;
    padding-left: 0;
    padding-right: 0;

}
#right-side {
    background-color: #42a5f5;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    top: 0;
    position: sticky;
}


/************************* LEFT SIDE */
#left-header {
    background-color: #bdbdbd;
    margin: 0 -5%;
}
.top-left-text {
    text-align: center;
    height: 40px;
    margin-top: 20px;
}
.top-left-text-price {
    height: 60px;
}

.txt-size {
  font-size: 1em;
}

/*middle*/
#sale-list-body {
    height: 60vh;
    margin: 0 -5%;
}
.eq-cells {
  padding-left: 10px;
  padding-right: 10px;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

/*BOTTOM*/
#bottom-left-text {
    height: 25vh;
    margin: 0 -5%;
    padding-bottom: 10px;
}

/*This is for all three*/
.row-field {
    text-align: center;
    height: 40px;
}

.subtotal {
    margin-top: 9px;
    background-color: #bdbdbd;
}
.tax {
    margin-top: 9px;
    background-color: #bdbdbd;
}
#total {
    background-color: #bdbdbd;
    height: 50px;
}

/************************* THIS IS THE RIGHT */
#right-header {
    background-color: #42a5f5;
    width: 100%;
    height: 60px;
    justify-content: center;
    margin-bottom: 0;
    top: 0;

}
#barcode {
    background-color: white;
    top: 50%;
    transform: translateY(20%);
}
#search {
    background-color: white;
    top: 50%;
    transform: translateY(20%);
}


#right-middle {
    height: 74vh;
    background-color: #e3f2fd;
    margin: 0 0;
}

#enter-platinum {
    background-color: white;
    top: 50%;
    transform: translateY(20%);
}

.bold-input {
    background-color: white;
    top: 50%;
    transform: translateY(20%);
    font-weight: bold;
    color: black;
    -webkit-text-fill-color: black
}


#platinums-list-body {
    height: 55vh;
    margin: 0 -5%;
}

#inventory-list-body {
  height: 70vh;
}


#right-bottom {
    height: 10vh;
    text-align: center;
    padding-bottom: 0px;
}
.right-bottom-button {
    height: 10vh;
    text-align: center;
    background-color: #42a5f5;
    margin-top: -2.3vh;
    padding-bottom: 10px;
    font-size: 3em;
    /*this is to veritcally allign the text to the center*/
    text-align: center;
    vertical-align: middle;
    line-height: 10vh;       /* the same as your div height */
}
.no-space {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.brand-logo {
    height: 8vh;

    /*this is to veritcally allign the text to the center*/
    text-align: center;
    vertical-align: middle;
    line-height: 8vh;       /* the same as your div height */
}


.button-container {
    height: 8vh;
    /*this is to veritcally allign the text to the center*/
    text-align: center;
    vertical-align: middle;
    line-height: 10vh;       /* the same as your div height */
}

.li-nav {
    height: 8vh;

    /*this is to veritcally allign the text to the center*/
    text-align: center;
    vertical-align: middle;
    line-height: 8vh;       /* the same as your div height */
}

.nav-link {
    height: 8vh;

    /*this is to veritcally allign the text to the center*/
    text-align: center;
    vertical-align: middle;
    line-height: 8vh;       /* the same as your div height */
}
