<div class="col s12 m12 l12 center">
  <div class="row animated fadeIn" id="thanks">
    <div class="col s12 m12 l12 center">
        <div class="container">
            <p style="text-align: center; font-size:300%; width: 50vw; height: 10vh;" class="center">Please swipe card</p>
        </div>
    </div>
  </div>
  <div class="row animated fadeIn">
    <a href="#!" style="color: inherit;" id="card-input">
    <div class="col s12 m12 l12 blue lighten-3 center waves-effect waves-light z-depth-1">
        <h4 class="white-text">
          Input card info
        </h4>
      </div>
    </a>
  </div>
</div>


<script type="text/javascript">
var cardCapture = require('node-card-capture').cardCapture
var trackParser = require('trackparser')

cardCapture(function(trackdata){
  console.log("RAW DATA ", trackdata)


  var cardInfo = new trackParser(trackdata)
  //if (cardInfo.hasTrack1){
    start_transaction(1, 2, 3)
    $("#cancel").removeAttr("style");
    $("#confirm").removeAttr("style");
    confirm_flag = 0;
    card_flag = 0;
    cancel_flag = 0;
    previous_flag = 0;
    $('#right-middle').html(ejs.render(fs.readFileSync( __dirname + '/partials/process.html', 'utf-8') , {}));
  //}
});
/*
var card_date;
function card_trans(transAuthCode, transId, transMessage) {
	cur_transaction.createCardTransaction(function(transaction){
		let CardTrans = {
			guid     : transaction.guid,
			amount   : card_amt,
			authCode : transAuthCode,
			transId  : transId,
			message  : transMessage,
			cardType : "Harambe",
			dateCreated : new Date(),
			voidable : true,
			voided   : false
		}
		transaction.cards.push(CardTrans);
		transaction.payments++;
	});

	if(card_amt == Number(accounting.formatNumber(total, 2, ",").replace(/,/g, ""))) {
		print_init();
	}
	else if(card_amt < Number(accounting.formatNumber(total, 2, ",").replace(/,/g, ""))) {
		card_flag = 0;
		confirm_flag = 0;
		update_price('~', card_amt, 0, 1)
		$('#right-middle').html(ejs.render(fs.readFileSync( __dirname + '/partials/pay_choice.html', 'utf-8') , {}));
		current_page = "pay_choice.html";
		previous_page = "handle_order.html";
		previous_flag = 1;
		$("#cancel").css("background-color", "red");
	}
}*/
</script>
