<div class="col s12 m12 l12 center">
  <div class="row animated fadeIn" id="thanks">
    <div class="col s12 m12 l12 center">
        <div class="container">
            <p style="text-align: center; font-size:300%; width: 50vw; height: 10vh; margin-top: 20vh" class="center">Please swipe card</p>
        </div>
    </div>
  </div>
  <div class="row animated fadeIn">
    <a href="#!" style="color: inherit;">
    <div class="col s12 m12 l12 blue lighten-3 center waves-effect waves-light z-depth-1">
        <h4 class="white-text">
          Input card info
        </h4>
      </div>
    </a>

    <div id="credit-card-swipe-container">
        <input type="text" name="cc" value="" id="track-data">
    </div>

  </div>
</div>


<script type="text/javascript">


    $( "#track-data" ).focus(function() {

    });

    $(document).on('input', '#track-data', function(data) {
        console.log(data)
    })
</script>
