<div id="cash_page" class="col s12 m12 l12 animated fadeIn">

  <br/>
  <div class="row center black-text" class="no-space">
    <h4 class="no-space">How much on the card?</h4>
  </div>
  <div class="row">
      <div class="col s12 m12 l12 center black-text">
        <span style="font-size:300%;">$&nbsp;</span>
        <input style="width: 80%; height: 50%; text-align: center; font-size:300%;" placeholder="0.00" id="tendered_card" class="keyboard grey lighten-4" type="text">
      </div>
  </div>
  <br />
  <br />
</div>
