<div class="row">
  <h4 style="text-align: center;" class="center">Please input the card info</h4>
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" style="background-color: white;" class="validate">
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field col s6">
        <input id="last_name" type="text" style="background-color: white;" class="validate">
        <label for="last_name">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="card_num" type="text" style="background-color: white;" class="validate">
        <label for="first_name">Card Number</label>
        <div class="input-field col s3">
          <input id="m_exp" type="text" style="background-color: white;" class="validate">
          <label for="first_name">Expiration Date (MMY)</label>
        </div>
        <div class="input-field col s3">
          <input id="y_exp" type="text" style="background-color: white;" class="validate">
          <label for="first_name">Expiration Date (YY)</label>
        </div>
      </div>
    </div>
  </form>
</div>
