<div class="row">
  <div class="col s12">
    <div id="inventory-list-body" style="margin-top: 10px; margin-bottom: 10px; overflow-y: scroll">
      <div class="collection" id="item-list" >
        <%for(result in query_results) {
          var item_name = result.substring(0, result.search("-_"));
          var inventory_place = result.substring(result.search("-_") + 2, item.length);
          %>
        <a href="#!" class="collection-item item"><span id="<%=inventory_place%>">item_name</span></a>
        <!--<%=item_name%></span>-$<span id="item_price"><%=query_results[result][1]%></span>-->
        <%}%>
      </div>
    </div>
  </div>
</div>

<div id="modal3" class="modal">
  <div class="modal-content">
    <h4 id="inventory_place">How many of <span id="selected_item" class=""></span> would you like to add?</h4>
    <input placeholder="Enter item quantity" id="selected_item_qnt" type="text" class="validate">
  </div>
  <div class="modal-footer">
    <a href="#!" id="confirm_item_selection" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    <a href="#!" id="cancel_item_selection" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>
