<div class="row">
  <div class="col s12">
    <div id="transaction-list-body" style="margin-top: 10px; margin-bottom: 10px; overflow-y: scroll; height: 67vh;">
      <div class="collection" id="transaction-list" >



        <% for(var i = 0; i < transactions.length; i++) { %>
              <%for(var j = 0; j < transactions[i].cards.length; j++) {%>
              <%if(transactions[i].cards[j].voidable) {%>
                <a href="#!" class="collection-item transaction" id="<%=i%>_<%=j%>">
                  <p>
                    Name on Card: <%=transactions[i].cards[j].card_holder%><br/>
                    Platinum: <%=transactions[i].platinum%> <br />
                    Total: $<%=transactions[i].total%><br />
                    Date: <%=transactions[i].cards[j].dateCreated%>
                  </p>
                </a>
              <%}%>
            <%}%>
        <%}%>







      </div>
    </div>
  </div>
</div>

<div id="voidModal3" class="modal">
  <div class="modal-content">
    <h4 id="inventory_place">Are you sure you want to void this transaction?</h4>
  </div>
  <div class="modal-footer">
    <a href="#!" id="confirm-void" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    <a href="#!" id="cancel-void" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>
