<!--

file name   : pay_choice.html
full path   : app/views/pay_options/pay_choice.html
purpose     : cotnains the html that renders the pay options in the POS.html right side.
              It is rendered using EJS.
appears in  : pos.html

-->
<div id="rec-options" class="col s12 m12 l12 animated fadeIn">
  <div class="center row">
    <h3 style="margin: 0 0;">Would you like a receipt?</h3>
  </div>
  <div class="row">
    <a href="#!" style="color: inherit;" id="yes-receipt">
      <div class="col s12 m12 l12 blue lighten-3 center waves-effect waves-light z-depth-1 print-buttons">
        <h4 class="white-text print-buttons-text">
          Yes
        </h4>
      </div>
    </a>
  </div>
  <div class="row">
    <a href="#!" style="color: inherit;" id="no-receipt">
      <div class="col s12 m12 l12 blue lighten-3 center waves-effect waves-light z-depth-1 print-buttons">
        <h4 class="white-text print-buttons-text">
          No
        </h4>
      </div>
    </a>
  </div>
</div>
