<div class="row">
  <div class="col s12">
    <input placeholder="Enter Platinum..." class="bold-input" style="text-align: center;" id="enter-platinum" type="text">
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div id="platinums-list-body" style="margin : 0 0; overflow-y: scroll">
      <%if(A == 1) {%>
      <div class="center loading">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
      </div><%}%>
      <%if(A == 0) {%>
      <div class="collection" id="platinums-list">

      </div>
      <%} else if(A == 1){ %>
      <div class="collection" id="platinums-list" style="display:none">

      </div>
      <%}%>
    </div>
  </div>
</div>

<script>
    $('#enter-platinum').jboard('standard')
</script>
