<div id="A" class="col s12 m12 l12 animated fadeIn">
  <br/>
  <div class="row">
    <a href="#!" style="color: inherit;" id="B">
      <div class="col s12 m12 l12 blue lighten-3 center waves-effect waves-light z-depth-1 pay-buttons">
        <h4 class="white-text pay-buttons-text">
          Harambe
        </h4>
      </div>
    </a>
  </div>
</div>

<script>
$("#B").click(function() {
  if(card_amt == Number(accounting.formatNumber(total, 2, ",").replace(/,/g, ""))) {
		print_init();
	}
	else if(card_amt < Number(accounting.formatNumber(total, 2, ",").replace(/,/g, ""))) {
		card_flag = 0;
		confirm_flag = 0;
		update_price('~', card_amt, 0, 1)
		$('#right-middle').html(ejs.render(fs.readFileSync( __dirname + '/partials/pay_choice.html', 'utf-8') , {}));
		current_page = "pay_choice.html";
		previous_page = "handle_order.html";
		previous_flag = 1;
		$("#cancel").css("background-color", "red");
	}
})
</script>
