<!--

file name   : completed.html
full path   : app/views/pay_options/completed.html
purpose     : contains the html that renders the thanks page after an order
              is completed or cancelled.
appears in  : pos.html

-->
<div class="row animated fadeIn" id="preload">
  <div class="col s12 m12 l12 center" style="margin-top: 20vh;">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div><div class="gap-patch">
          <div class="circle"></div>
        </div><div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn" id="processing">
  <div class="col s12 m12 l12 center">
    <p style="text-align: center; font-size:300%; width: 50vw;" class="center">Processing</p>
  </div>
</div>
